/* Add warranty */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* dashboard */
.card.hover-shadow:hover {
  transform: translateY(-5px);
  transition: all 0.3s ease;
  box-shadow: 0 0.5rem 1rem rgba(8, 8, 8, 0.15);
  background-color: #f0f0f0;
}

/* Document manager preview */
.position-relative:hover .hover-preview {
  display: block !important;
}
.hover-preview {
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  border-radius: 6px;
}

.chat-window {
  background-color: #f8f9fa;
  border-radius: 12px;
}

.chat-window .badge {
  max-width: 75%;
  word-wrap: break-word;
}